@page "/"
@using ChemicalFactors.Controls

<PageTitle>Chemistry factors</PageTitle>

<div id="container">
    <ElementsControl />
    <ReactionControl />
    <ToolBoxControl />
    <ResultControl />
</div>

