@page "/"
@using ChemicalFactors.Controls
@using Microsoft.Extensions.Logging.Abstractions

<PageTitle>Chemistry factors</PageTitle>

<div id="container">
    <ElementsControl @bind-CurrentElement="@CurrentElement"/>
    <ReactionControl @bind-ReactionViewModel="@_reactionViewModel" />
    <ToolBoxControl @bind-CurrentElement="@CurrentElement"/>
    <ResultControl />
</div>



@code
{
    private IElement _currentElement = new Element("Empty");

    private ReactionViewModel _reactionViewModel = new ReactionViewModel();

    public IElement CurrentElement
    {
        get { return _currentElement; }
        set
        {
            if (value != _currentElement)
            {
                _currentElement = value;
                _reactionViewModel.PushToList(_currentElement);
                InvokeAsync(StateHasChanged);
            }
            
        }

    } 





}
