 <div id="elements">
            <center>
            <table cellspacing="0" class="table">
                <tr>
                    <td @onclick='(()=>SelectIElement(new Element("H")))' class="element">H</td>
                    <td class="noBorder" colspan="16"></td>
                    <td @onclick='(()=>SelectIElement(new Element("He")))'>He</td>
                </tr>
                <tr>
                    <td @onclick='(()=>SelectIElement(new Element("Li")))'>Li</td>
                    <td @onclick='(()=>SelectIElement(new Element("Be")))'>Be</td>
                    <td class="noBorder" colspan="10"></td>
                    <td @onclick='(()=>SelectIElement(new Element("B")))'>B</td>
                    <td @onclick='(()=>SelectIElement(new Element("C")))'>C</td>
                    <td @onclick='(()=>SelectIElement(new Element("N")))'>N</td>
                    <td @onclick='(()=>SelectIElement(new Element("O")))'>O</td>
                    <td @onclick='(()=>SelectIElement(new Element("F")))'>F</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ne")))'>Ne</td>
                </tr>
                <tr>
                    <td @onclick='(()=>SelectIElement(new Element("Na")))'>Na</td>
                    <td @onclick='(()=>SelectIElement(new Element("Mg")))'>Mg</td>
                    <td class="noBorder" colspan="10"></td>
                    <td @onclick='(()=>SelectIElement(new Element("Al")))'>Al</td>
                    <td @onclick='(()=>SelectIElement(new Element("Si")))'>Si</td>
                    <td @onclick='(()=>SelectIElement(new Element("P")))'>P</td>
                    <td @onclick='(()=>SelectIElement(new Element("S")))'>S</td>
                    <td @onclick='(()=>SelectIElement(new Element("Cl")))'>Cl</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ar")))'>Ar</td>
                </tr>
                <tr>
                    <td @onclick='(()=>SelectIElement(new Element("K")))'>K</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ca")))'>Ca</td>
                    <td @onclick='(()=>SelectIElement(new Element("Sc")))'>Sc</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ti")))'>Ti</td>
                    <td @onclick='(()=>SelectIElement(new Element("V")))'>V</td>
                    <td @onclick='(()=>SelectIElement(new Element("Cr")))'>Cr</td>
                    <td @onclick='(()=>SelectIElement(new Element("Mn")))'>Mn</td>
                    <td @onclick='(()=>SelectIElement(new Element("Fe")))'>Fe</td>
                    <td @onclick='(()=>SelectIElement(new Element("Co")))'>Co</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ni")))'>Ni</td>
                    <td @onclick='(()=>SelectIElement(new Element("Cu")))'>Cu</td>
                    <td @onclick='(()=>SelectIElement(new Element("Zn")))'>Zn</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ga")))'>Ga</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ge")))'>Ge</td>
                    <td @onclick='(()=>SelectIElement(new Element("As")))'>As</td>
                    <td @onclick='(()=>SelectIElement(new Element("Se")))'>Se</td>
                    <td @onclick='(()=>SelectIElement(new Element("Br")))'>Br</td>
                    <td @onclick='(()=>SelectIElement(new Element("Kr")))'>Kr</td>
                </tr>
                <tr>
                    <td @onclick='(()=>SelectIElement(new Element("Rb")))'>Rb</td>
                    <td @onclick='(()=>SelectIElement(new Element("Sr")))'>Sr</td>
                    <td @onclick='(()=>SelectIElement(new Element("Y")))'>Y</td>
                    <td @onclick='(()=>SelectIElement(new Element("Zr")))'>Zr</td>
                    <td @onclick='(()=>SelectIElement(new Element("Nb")))'>Nb</td>
                    <td @onclick='(()=>SelectIElement(new Element("Mo")))'>Mo</td>
                    <td @onclick='(()=>SelectIElement(new Element("Tc")))'>Tc</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ru")))'>Ru</td>
                    <td @onclick='(()=>SelectIElement(new Element("Rh")))'>Rh</td>
                    <td @onclick='(()=>SelectIElement(new Element("Pd")))'>Pd</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ag")))'>Ag</td>
                    <td @onclick='(()=>SelectIElement(new Element("Cd")))'>Cd</td>
                    <td @onclick='(()=>SelectIElement(new Element("In")))'>In</td>
                    <td @onclick='(()=>SelectIElement(new Element("Sn")))'>Sn</td>
                    <td @onclick='(()=>SelectIElement(new Element("Sb")))'>Sb</td>
                    <td @onclick='(()=>SelectIElement(new Element("Te")))'>Te</td>
                    <td @onclick='(()=>SelectIElement(new Element("I")))'>I</td>
                    <td @onclick='(()=>SelectIElement(new Element("Xe")))'>Xe</td>
                </tr>
                <tr>
                    <td @onclick='(()=>SelectIElement(new Element("Cs")))'>Cs</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ba")))'>Ba</td>
                    <td class="noEffect">*</td>
                    <td @onclick='(()=>SelectIElement(new Element("Hf")))'>Hf</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ta")))'>Ta</td>
                    <td @onclick='(()=>SelectIElement(new Element("W")))'>W</td>
                    <td @onclick='(()=>SelectIElement(new Element("Re")))'>Re</td>
                    <td @onclick='(()=>SelectIElement(new Element("Os")))'>Os</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ir")))'>Ir</td>
                    <td @onclick='(()=>SelectIElement(new Element("Pt")))'>Pt</td>
                    <td @onclick='(()=>SelectIElement(new Element("Au")))'>Au</td>
                    <td @onclick='(()=>SelectIElement(new Element("Hg")))'>Hg</td>
                    <td @onclick='(()=>SelectIElement(new Element("Tl")))'>Tl</td>
                    <td @onclick='(()=>SelectIElement(new Element("Pb")))'>Pb</td>
                    <td @onclick='(()=>SelectIElement(new Element("Bi")))'>Bi</td>
                    <td @onclick='(()=>SelectIElement(new Element("Po")))'>Po</td>
                    <td @onclick='(()=>SelectIElement(new Element("At")))'>At</td>
                    <td @onclick='(()=>SelectIElement(new Element("Rn")))'>Rn</td>
                </tr>
                <tr>
                    <td @onclick='(()=>SelectIElement(new Element("Fr")))'>Fr</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ra")))'>Ra</td>
                    <td class="noEffect">**</td>
                    <td @onclick='(()=>SelectIElement(new Element("Rf")))'>Rf</td>
                    <td @onclick='(()=>SelectIElement(new Element("Db")))'>Db</td>
                    <td @onclick='(()=>SelectIElement(new Element("Sg")))'>Sg</td>
                    <td @onclick='(()=>SelectIElement(new Element("Bh")))'>Bh</td>
                    <td @onclick='(()=>SelectIElement(new Element("Hs")))'>Hs</td>
                    <td @onclick='(()=>SelectIElement(new Element("Mt")))'>Mt</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ds")))'>Ds</td>
                    <td @onclick='(()=>SelectIElement(new Element("Rg")))'>Rg</td>
                    <td @onclick='(()=>SelectIElement(new Element("Cn")))'>Cn</td>
                    <td @onclick='(()=>SelectIElement(new Element("Nh")))'>Nh</td>
                    <td @onclick='(()=>SelectIElement(new Element("Fl")))'>Fl</td>
                    <td @onclick='(()=>SelectIElement(new Element("Mc")))'>Mc</td>
                    <td @onclick='(()=>SelectIElement(new Element("Lv")))'>Lv</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ts")))'>Ts</td>
                    <td @onclick='(()=>SelectIElement(new Element("Og")))'>Og</td>
                </tr>
            </table>
            <br/>
            <table cellspacing="0" class="table2">
                <tr>
                    
                    <td class="noBorder"></td>
                    <td class="noBorder"></td>
                    <td class="noBorder" colspan="2">*Lanthanides</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ce")))'>Ce</td>
                    <td @onclick='(()=>SelectIElement(new Element("Pr")))'>Pr</td>
                    <td @onclick='(()=>SelectIElement(new Element("Nd")))'>Nd</td>
                    <td @onclick='(()=>SelectIElement(new Element("Pm")))'>Pm</td>
                    <td @onclick='(()=>SelectIElement(new Element("Sm")))'>Sm</td>
                    <td @onclick='(()=>SelectIElement(new Element("Eu")))'>Eu</td>
                    <td @onclick='(()=>SelectIElement(new Element("Gd")))'>Gd</td>
                    <td @onclick='(()=>SelectIElement(new Element("Tb")))'>Tb</td>
                    <td @onclick='(()=>SelectIElement(new Element("Dy")))'>Dy</td>
                    <td @onclick='(()=>SelectIElement(new Element("Ho")))'>Ho</td>
                    <td @onclick='(()=>SelectIElement(new Element("Er")))'>Er</td>
                    <td @onclick='(()=>SelectIElement(new Element("Tm")))'>Tm</td>
                    <td @onclick='(()=>SelectIElement(new Element("Yb")))'>Yb</td>
                    <td @onclick='(()=>SelectIElement(new Element("Lu")))'>Lu</td>
                </tr>
                <tr>
                    
                    <td class="noBorder"></td>
                    <td class="noBorder"></td>
                    <td class="noBorder" colspan="2">**Actinides</td>
                    <td @onclick='(()=>SelectIElement(new Element("Th")))'>Th</td>
                    <td @onclick='(()=>SelectIElement(new Element("Pa")))'>Pa</td>
                    <td @onclick='(()=>SelectIElement(new Element("U")))'>U</td>
                    <td @onclick='(()=>SelectIElement(new Element("Np")))'>Np</td>
                    <td @onclick='(()=>SelectIElement(new Element("Pu")))'>Pu</td>
                    <td @onclick='(()=>SelectIElement(new Element("Am")))'>Am</td>
                    <td @onclick='(()=>SelectIElement(new Element("Cm")))'>Cm</td>
                    <td @onclick='(()=>SelectIElement(new Element("Bk")))'>Bk</td>
                    <td @onclick='(()=>SelectIElement(new Element("Cf")))'>Cf</td>
                    <td @onclick='(()=>SelectIElement(new Element("Es")))'>Es</td>
                    <td @onclick='(()=>SelectIElement(new Element("Fm")))'>Fm</td>
                    <td @onclick='(()=>SelectIElement(new Element("Md")))'>Md</td>
                    <td @onclick='(()=>SelectIElement(new Element("No")))'>No</td>
                    <td @onclick='(()=>SelectIElement(new Element("Lr")))'>Lr</td>
                </tr>
            </table>
            </center>

        </div>

 @code {
     
     [Parameter]
     public IElement CurrentElement { get; set; }

     [Parameter]
     public EventCallback<IElement> CurrentElementChanged { get; set; }


    public async Task SelectIElement(IElement element)
    {
        CurrentElement = element;
        await CurrentElementChanged.InvokeAsync(element);
    }

}
