<div id="reaction">
    
    <div class="leftlist">
        @foreach (var element in ReactionViewModel.SubstratsList)
        {
            @element.Symbol

        }
    </div>
    
    <div>
    <img class="arrow1" src="/img/arrow.svg" />
    </div>
    
    <div id="rightlist">
        @foreach (var element in ReactionViewModel.ProductsList)
        {
            @element.Symbol

        }

    </div>
    


</div>
<div id="sideofreaction">
    <button @onclick='(()=>ReactionViewModel.ChangeToSubstratsSide())' id="leftbutton">SUBSTRATES</button>
    <button @onclick='(()=>ReactionViewModel.ChangeToProductsSide())' id="rightbutton">PRODUCTS</button>
</div>


@code {

    [Parameter]
    public ReactionViewModel ReactionViewModel { get; set; }

    [Parameter]
    public EventCallback<ReactionViewModel> ReactionViewModelChanged { get; set; }

    [Parameter]
    public Element CurrentElement { get; set; }

    [Parameter]
    public EventCallback<Element> CurrentElementChanged { get; set; }

   

}
