
<div id="toolbox">
    <table class="table3">
        <tr>
            <td class="mathsigns">(</td>
            <td class="mathsigns">)</td>
            <td class="mathsigns">+</td>
        </tr>
    </table>
    <div >
        <button id="button">CALCULATE CHEMICAL FACTORS</button>
        
    </div>
        
</div>

@code {

}
